@import 'normalize';

$serif: Georgia, 'Times New Roman', serif;
$blue: rgb(123, 174, 248);
body {
	color: #222;
	font-size: 22px;
	font-family: $serif;
}

.nav-item {
	display: inline-block;
	text-decoration: none;
	padding: 0.8em;
	margin: 0.6em;
	color: darken($blue, 15%);
}

.nav-inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: rgb(245, 245, 245);
}

.title {
	font-family: $serif;
	text-align: center;
	font-size: 26px;
	padding: 1em;
	padding-top: 2.4em;
	padding-bottom: 1.6em;
}

#header {
	padding-bottom: 1.6em;
	margin-bottom: 1.6em;
}

#nav {
}
#announcements {
	text-align: center;
}